<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDWebImage框架使用示例.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>913540AE1D114A7A002645AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913540C71D114A7B002645AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>913540D21D114A7B002645AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
